{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fish Feed | Home</title>


    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
        <link rel="stylesheet" href="{%static "css/home.css"%}" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
    <nav>
      <div class="nav-left">
        <img
          src="{%static "images/logo.png"%}"
          alt=""
          height="99px"
          width="148px"
          class="logo-img"
        />
      </div>
      <div class="nav-center">
        <p style="margin: 0px; font-size: 15px">👋 Welcome {{user.username}}</p>
      </div>
      <div class="nav-right">
        <a href="{% url 'fish_feed:farmer_orders' %}"
          ><button class="myorders-btn" style="font-size: 15px">
            my orders
          </button></a
        >
        <a href="{% url 'accounts:logout' %}"
          ><button class="logout-btn" style="font-size: 15px">logout</button></a
        >
      </div>
    </nav>
    <hr style="margin-top: -20px" />

    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{%static "images/slider1.png"%}" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="{%static "images/slider2.png"%}" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="{%static "images/slider3.jpg"%}" class="d-block w-100" alt="..." />
        </div>
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon"></span>
      </button>

      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>

    <p style="margin-top: 15px;">
      Available <span style="color: rgba(166, 133, 127, 1)">Products ></span>
    </p>
    <section class="main-content">
      {% for product in products %}
            <div class="product-container" style="margin-left: 40px;">
        <a href="{% url 'fish_feed:product_detail' product.id %}">
              <img
                src="{{ product.product_thumbnail.url }}"
                alt="{{ product.product_name }}"
                height="200px"
                width="150px"
              />
      </a>
      <br>
          <img src="{%static "images/frame 566.png"%}" alt=""> <br>
          <h7>{{product.product_name}}</h5>
          <h7><span style="color: rgba(166, 133, 127, 1);">Distributor:</span>{{product.distributor}}</h5>
          <img src="" alt="" />
          <p style="color: rgb(96, 224, 96);">₦{{product.price}}</p>
        </div>
      
        {% empty %}
        <!-- <p class="text-muted">No products available at the moment.</p>
      {% endfor %} -->
    </section>

    <section class="third" style="margin-top: 30px;">
        <center>
            <img src="{%static "images/third-img.png"%}" alt="" height="200px" width="600px">
        </center>
    </section>

    

    <!-- <div class="container"> -->

    <!-- <div class="top-links">
        <a href="{% url 'accounts:logout' %}" class="btn btn-danger"><i class="bi bi-box-arrow-right"></i> Logout</a>
        <a href="{% url 'fish_feed:farmer_orders' %}" class="btn btn-primary"><i class="bi bi-card-checklist"></i> My Orders</a>
    </div> -->

    <!-- <h1>Available Fish Feed</h1> -->

    <!-- <div class="row">
        {% for product in products %}
        <div class="col-md-3 col-sm-6">
            <div class="product-card">
                <img src="{{ product.product_thumbnail.url }}" alt="{{ product.product_name }}" class="img-fluid" height="100px" width="100px">
                <h5>{{ product.product_name }}</h5>
                <p>₦{{ product.price }}</p>
                <p>{{ product.product_description|default:"No description" }}</p>
                <a href="{% url 'fish_feed:product_detail' product.id %}" class="btn btn-success btn-sm"><i class="bi bi-eye"></i> See More</a>
            </div>
        </div>
        {% empty %}
        <p class="text-muted">No products available at the moment.</p>
        {% endfor %}
    </div> -->

    <!-- </div> -->
  </body>
</html>
