<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ product.product_name }} | Fish Feed</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">

  <h1 class="mb-4">{{ product.product_name }}</h1>
  <p>{{ product.product_description|default:"No description available." }}</p>
  <p>price per bag: {{product.price}}</p>
  <p>Quantity Available: {{product.quantity_available}} bags</p>

  <form action="" method="post" class="w-50">
    {% csrf_token %}
    <div class="mb-3">
      <label for="quantity" class="form-label">Quantity</label>
      <input type="number" class="form-control" name="quantity" required>
    </div>

    <div class="mb-3">
      <label for="delivery_location" class="form-label">Delivery Location</label>
      <input type="text" class="form-control" name="delivery_location" required>
    </div>

    <button type="submit" class="btn btn-success"><i class="bi bi-cart-plus"></i> Place Order</button>
    <a href="{% url 'fish_feed:home' %}" class="btn btn-secondary">⬅ Back</a>
  </form>

</div>
</body>
</html>
